<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<pagopar>
				<active>1</active>
				<model>Pagopar\Magento2\Model\Payment\Pagopar</model>
				<order_status>pending</order_status>
				<title>Pagopar</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</pagopar>
		</payment>
		<carriers>
			<pagopar>
				<model>Pagopar\Magento2\Model\Carrier\Pagopar</model>
				<active>0</active>
				<title>Pagopar</title>
				<name>Pagopar</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</pagopar>
		</carriers>
		<config>
			<api_key>
				<public_token/>
				<private_token/>
			</api_key>
		</config>
	</default>
</config>
