<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<pagopar_cobros>
				<active>1</active>
				<model>Pagopar\Magento2\Model\Payment\Pagopar_cobros</model>
				<order_status>pending</order_status>
				<title>Pagopar_cobros</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</pagopar_cobros>
		</payment>
		<carriers>
			<pagopar_envios>
				<model>Pagopar\Magento2\Model\Carrier\Pagopar_envios</model>
				<active>0</active>
				<title>Pagopar_envios</title>
				<name>Pagopar_envios</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</pagopar_envios>
		</carriers>
	</default>
</config>
